# Backend (Python)
.env
__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/

# Notebooks
.ipynb_checkpoints/

# Node.js
node_modules/
dist/
.vite/

# Frontend
frontend/.env
frontend/.env.local

#Miscellaneous
.vscode
